$primary-color: #cc3333;
$primary-color-background: #d14747;
$primary-color-hover: rgba(13, 163, 182, 0.08);
$primary-color-active: rgba(13, 163, 182, 0.16);

$secondary-color: #ff80bf;
$secondary-color-background: #ff99cc;
$secondary-color-hover: #ffb3d9;
$secondary-color-active: rgba(13, 163, 182, 0.16);

$warning-color: #f44336;
$warning-color-background: #ff99cc;
$warning-color-hover: #ffcdd2;
$warning-color-active: #ef9a9a;

$button-hover-color: rgba(13, 163, 182, 0.16);

$drop-shadow: 0 1px 6px rgba(0, 0, 0, 0.1), 0 4px 24px rgba(0, 0, 0, 0.06);
$lift-shadow: 0 1px 4px rgba(0, 0, 0, 0.1), 0 4px 12px rgba(0, 0, 0, 0.06);