.headerWrapper {
  max-width: calc(var(--container-width) + var(--spacing-unit) * 2);
  margin: 0 auto;
  height: var(--header-wrapper-height);
}

.headerContainer {
  justify-content: space-between;
  align-items: center;
  height: var(--header-wrapper-height);
}

.headerLogo {
  line-height: 1.2;
  align-items: center;
  font-size: var(--font-size-b);
  padding: var(--spacing-unit-xmicro) 0;
}

.logoImg {
  flex-shrink: 0;
  height: 1.5em;
}

.logoImg img {
  height: inherit;
  width: auto;
}

.logoText {
  margin-left: 0.6em;
  font-weight: 500;
}

.onlineText {
  margin-left: 0.2em;
  display: flow-root;
  font-variation-settings: "wdth" 85;
}

.logoText:before {
  content: "";
  display: block;
  height: 0;
  width: 0;
  margin-top: -0.2075em;
}

.logoText:after {
  content: "";
  display: block;
  height: 0;
  width: 0;
  margin-bottom: -0.2075em;
}

.dropShadow {
  box-shadow: var(--drop-shadow);
}

@media screen and (max-width: 860px) {
  .onlineText {
    display: none;
  }

  .logoImg {
    flex-shrink: 0;
    height: 1.1em;
  }

  .headerLogo {
    margin-left: 25px;
  }

  .dropShadow {
    display: none;
  }
}
