@import "../../variables.scss";

.headerWrapper {
  max-width: calc(60rem + 1rem * 2);
  margin: 0 auto;
  height: 70px;
}

.headerContainer {
  justify-content: space-between;
  align-items: center;
  height: 70px;
}

.headerLogo {
  align-items: center;
  font-size: 2rem;
}

.logoText {
  font-family: 'Great Vibes', cursive;
  margin-left: 0.6em;
  font-weight: 500;
  font-size: 3rem;
  color: $primary-color;
}

.onlineText {
  margin-left: 0.2em;
  display: flow-root;
  font-variation-settings: "wdth" 85;
}

.logoText:before {
  content: "";
  display: block;
  height: 0;
  width: 0;
  margin-top: -0.2075em;
}

.logoText:after {
  content: "";
  display: block;
  height: 0;
  width: 0;
  margin-bottom: -0.2075em;
}

.dropShadow {
  box-shadow: $drop-shadow;
}

@media screen and (max-width: 860px) {
  .onlineText {
    display: none;
  }

  .logoImg {
    flex-shrink: 0;
    height: 1.1em;
  }

  .headerLogo {
    margin-left: 25px;
  }

  .dropShadow {
    display: none;
  }

  .headerWrapper {

    height: 30px;
  }
  
  .headerContainer {
    height: 30px;
  }
}
