.loading {
  height: calc(100vh - 70px);
  width: calc(100vw - 580px);
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  background-color: rgba($color: #000000, $alpha: 0.5);
  z-index: 4;
}

@media screen and (max-width: 860px) {
  .loading {
    height: calc(50vh);
    width: 100%;
  }
}
