.messageContainer {
  width: 100%;
  display: flex;
}

.message {
  font-size: var(--font-size-b);
  border-radius: 5px;
  border-width: 2px;
  border-style: solid;
  padding: 2px 8px 2px 8px;
  margin: 4px 4px 0px 4px;
  word-wrap: break-word;
  max-width: 50%;
}

.yourMessage {
  background-color: var(--primary-color-background);
  border-color: var(--primary-color);
  margin-left: auto;
}

.partnerMessage {
  background-color: var(--secondary-color-background);
  border-color: var(--secondary-color);
}

.systemMessage {
  background-color: gray;
  border-color: black;
}

@media screen and (max-width: 860px) {
  
}
